body {
    font-family: 'Courier New', Courier, monospace;
}

.vis-sidebar-nav {
    float: right;
}
h2 {
    font-size: 30px;
}
.main {
    padding-block: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    border: 4px;
    border-style: outset;
    align-content: center;
}
