body {
    font-family: 'Courier New', Courier, monospace;
}
p {
    padding-left: 10px;
}
img {
    padding-left: 10px;
}
.vis-sidebar-nav {
    float: right;
}
h2 {
    padding-left: 10px;
    font-size: 30px;
}
.main {
    padding-block: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    border: 4px;
    border-style: outset;
    align-content: center;
}
.dataframe {
    border: solid;
    column-width: auto;
    column-rule-style: solid;
}
td {
    text-align: right;
    text-size-adjust: auto;
}
th {
    text-align: center;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { body {
    background: #F8F9F9;
}}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { body {
    background: #FCF3CF;
}}
